/* color 
primary color : #222E50,
secondary color : #007991,
third color : #439A86,
fourth color : #BCD8C1,
fifth color : #E9D985
*/

/* font-family
    font-family: 'Asap', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Lobster Two', cursive;
*/

/* --- Start global --- */

h1{
    color: #439A86;
    font-family: 'Asap', sans-serif;
    margin-top: 10px;
}

h2{
    color: #E9D985;
}

h3 {
    color: #BCD8C1;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    color: #222E50;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* --- End global --- */

/* --- start specific --- */
/* Start navbar */
.navbar {
    background-color: #007991;
}

.navbar a{
    color: #E9D985;
    font-family: 'Lobster Two', cursive;
    font-size: 30px;
}

.logo {
    width: 100px;
    border-radius: 50%;
}

/*Start footer*/
footer{
    background: #c4dfe4;
    position: relative;
}

footer p {
    padding-left: 20px;;
    font-family: 'Lobster Two', cursive;
    color: #222E50; 

}

footer img {
    width: 150px;
    height: auto;
}

footer ul {
    padding-right: 20px;
    font-family: 'Lobster Two', cursive;
}

footer .nav-link {
    color: #222E50;

}
/* start main */
main {
    margin: 10px;
}
/*Start image */
.paint{
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* Start formulaire */
.form-label{
    color: #007991;
    margin-top: 20px;
    font-family: 'Didact Gothic', sans-serif;

}
.form-control{
    border: #007991 1px solid;
    font-family: 'Didact Gothic', sans-serif;
}
.btn {
    background-color: #007991;
    color: white;
    margin-top: 20px;
    margin-bottom: 100px;
}
.btn:hover{
    background-color: #222E50;
    color: #BCD8C1;
}

/* Media queries*/
@media (min-width: 992px) {
    .paint-contact {
        width: 50vw;
        height: 30vh;
        object-fit: cover;
    }

    .paint-cover{
        width: 250px;
        height: 250px;
    }
    .form-control{
        width: 50vw;
    }

    .dispear{
        display: none;
    }

    main{
        margin-left: 400px;
        margin-right: 400px;
    }
}
/* --- End Specific --- */