/* color 
primary color : #222E50,
secondary color : #007991,
third color : #439A86,
fourth color : #BCD8C1,
fifth color : #E9D985
*/

/* font-family
    font-family: 'Asap', sans-serif;

    font-family: 'Didact Gothic', sans-serif;

    font-family: 'Lobster Two', cursive;
*/

/* Start global*/
body{
    margin: 10px;
}

h1{
    color: #439A86;
    font-family: 'Asap', sans-serif;
    margin-top: 10px;
}
p {
    color: #222E50;
    font-family: 'Lobster Two', cursive;

}
/* End global */

/* Start navbar */
.navbar a{
    color: #007991;
    font-family: 'Lobster Two', cursive;

}
/* End Navbar*/



/* Start formulaire */
.form-label{
    color: #007991;
    margin-top: 20px;
    font-family: 'Didact Gothic', sans-serif;

}
.form-control{
    border: #007991 1px solid;
    font-family: 'Didact Gothic', sans-serif;
}
.btn {
    background-color: #007991;
    color: white;
    margin-top: 20px;
}
.btn:hover{
    background-color: #222E50;
    color: #BCD8C1;
}
/*End Formulaire*/