/* color 
primary color : #222E50,
secondary color : #007991,
third color : #439A86,
fourth color : #BCD8C1,
fifth color : #E9D985
*/

/* font-family
    font-family: 'Asap', sans-serif;
    font-family: 'Didact Gothic', sans-serif;
    font-family: 'Lobster Two', cursive;
*/

/* --- Start global --- */

h1{
    color: #439A86;
    font-family: 'Asap', sans-serif;
    margin-top: 10px;
}

h2{
    color: #E9D985;
}

h3 {
    color: #BCD8C1;
}

p {
    font-family: 'Didact Gothic', sans-serif;
    color: #222E50;
}

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
/* --- End global --- */

/* --- start specific --- */
/* Start navbar */
.navbar a{
    color: #007991;
    font-family: 'Lobster Two', cursive;
}

/*Start footer*/
footer{
    background: linear-gradient(180deg, rgba(233,217,133,1) 0%, rgba(0,121,145,1) 100%);
}

footer p {
    font-family: 'Lobster Two', cursive;
}

/* start main */
main {
    margin: 10px;
}
/*Start image */
.paint{
    width: 90vw;
    margin-top: 10px;
    margin-bottom: 20px;
    border-radius: 3px;
}

/* Start formulaire */
.form-label{
    color: #007991;
    margin-top: 20px;
    font-family: 'Didact Gothic', sans-serif;

}
.form-control{
    border: #007991 1px solid;
    font-family: 'Didact Gothic', sans-serif;
}
.btn {
    background-color: #007991;
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
}
.btn:hover{
    background-color: #222E50;
    color: #BCD8C1;
}

/* Media queries*/
@media (min-width: 992px) {
    .paint-cover {
        width: 50vw;
    }

    .card {
        flex-direction: row;
    }
    .form-control{
        width: 50vw;
    }
}
/* --- End Specific --- */